/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont-sg';  /* Project id 4713573 */
  src: url('//at.alicdn.com/t/c/font_4713573_dtpeoi2q5jm.woff2?t=1736755192931') format('woff2'),
       url('//at.alicdn.com/t/c/font_4713573_dtpeoi2q5jm.woff?t=1736755192931') format('woff'),
       url('//at.alicdn.com/t/c/font_4713573_dtpeoi2q5jm.ttf?t=1736755192931') format('truetype');
}

.iconfont-sg {
  font-family: "iconfont-sg" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image-n:before {
  content: "\e664";
}

.icon-italic-n:before {
  content: "\e666";
}

.icon-bell-outlined:before {
  content: "\e687";
}

.icon-mail-outlined:before {
  content: "\e688";
}

.icon-upload-n:before {
  content: "\e689";
}

.icon-bold-n:before {
  content: "\e68a";
}

.icon-gift:before {
  content: "\e609";
}

.icon-bell:before {
  content: "\e60a";
}

.icon-li-tag:before {
  content: "\e686";
}

.icon-android-filled:before {
  content: "\e685";
}

.icon-android:before {
  content: "\e684";
}

.icon-backend14:before {
  content: "\e683";
}

.icon-menu-close:before {
  content: "\e682";
}

.icon-menu-unexpand:before {
  content: "\e67d";
}

.icon-menu-sale:before {
  content: "\e67e";
}

.icon-mobile-menu:before {
  content: "\e67f";
}

.icon-mobile-download:before {
  content: "\e680";
}

.icon-menu-expand:before {
  content: "\e681";
}

.icon-facebook:before {
  content: "\e67c";
}

.icon-time:before {
  content: "\e674";
}

.icon-author:before {
  content: "\e675";
}

.icon-instagram:before {
  content: "\e676";
}

.icon-twitter:before {
  content: "\e677";
}

.icon-linkedin:before {
  content: "\e678";
}

.icon-pinterest:before {
  content: "\e679";
}

.icon-updates:before {
  content: "\e67a";
}

.icon-lock:before {
  content: "\e67b";
}

.icon-top-back:before {
  content: "\e624";
}

.icon-contact:before {
  content: "\e672";
}

.icon-check-n:before {
  content: "\e673";
}

.icon-close-fill:before {
  content: "\e670";
}

.icon-close-line:before {
  content: "\e671";
}

.icon-check-h:before {
  content: "\e66f";
}

.icon-merge2:before {
  content: "\e669";
}

.icon-split:before {
  content: "\e66a";
}

.icon-main-movie:before {
  content: "\e66b";
}

.icon-customize:before {
  content: "\e66c";
}

.icon-crop2:before {
  content: "\e66d";
}

.icon-full-disc:before {
  content: "\e66e";
}

.icon-c-succ:before {
  content: "\e665";
}

.icon-unlike:before {
  content: "\e667";
}

.icon-like:before {
  content: "\e668";
}

.icon-date:before {
  content: "\e662";
}

.icon-gift2:before {
  content: "\e663";
}

.icon-bell:before {
  content: "\e60a";
}

.icon-gift:before {
  content: "\e609";
}

.icon-check-l-n:before {
  content: "\e661";
}

.icon-get-support-h:before {
  content: "\e660";
}

.icon-subscription-h:before {
  content: "\e650";
}

.icon-fab365-h:before {
  content: "\e647";
}

.icon-order-n:before {
  content: "\e65b";
}

.icon-vm-product-n:before {
  content: "\e655";
}

.icon-order-h:before {
  content: "\e656";
}

.icon-star-rect:before {
  content: "\e65f";
}

.icon-batch-h:before {
  content: "\e625";
}

.icon-bookfab-h:before {
  content: "\e636";
}

.icon-batch-n:before {
  content: "\e637";
}

.icon-bookfab-n:before {
  content: "\e638";
}

.icon-c-cancle:before {
  content: "\e639";
}

.icon-c-download:before {
  content: "\e63a";
}

.icon-circle-play:before {
  content: "\e63b";
}

.icon-circle-pause:before {
  content: "\e63c";
}

.icon-c-kehu:before {
  content: "\e63d";
}

.icon-c-notice:before {
  content: "\e63e";
}

.icon-contact_h:before {
  content: "\e63f";
}

.icon-download-c-h:before {
  content: "\e640";
}

.icon-contact_n:before {
  content: "\e641";
}

.icon-c-success:before {
  content: "\e642";
}

.icon-c-update:before {
  content: "\e643";
}

.icon-extended-serv_h:before {
  content: "\e644";
}

.icon-download-c-n:before {
  content: "\e645";
}

.icon-extended-serv_n:before {
  content: "\e646";
}

.icon-get-support-n:before {
  content: "\e648";
}

.icon-help-h:before {
  content: "\e649";
}

.icon-help-n:before {
  content: "\e64a";
}

.icon-fab365-n:before {
  content: "\e64b";
}

.icon-language-h:before {
  content: "\e64c";
}

.icon-license-h:before {
  content: "\e64d";
}

.icon-license-n:before {
  content: "\e64e";
}

.icon-language-n:before {
  content: "\e64f";
}

.icon-next:before {
  content: "\e651";
}

.icon-pre:before {
  content: "\e652";
}

.icon-noad-n:before {
  content: "\e653";
}

.icon-noad-h:before {
  content: "\e654";
}

.icon-profile-h:before {
  content: "\e657";
}

.icon-profile-n:before {
  content: "\e658";
}

.icon-special-offer-h:before {
  content: "\e659";
}

.icon-special-offer-n:before {
  content: "\e65a";
}

.icon-subscription-n:before {
  content: "\e65c";
}

.icon-vm-product-h:before {
  content: "\e65d";
}

.icon-tips:before {
  content: "\e65e";
}

.icon-download:before {
  content: "\e605";
}

.icon-win:before {
  content: "\e606";
}

.icon-shop-cart:before {
  content: "\e607";
}

.icon-mac:before {
  content: "\e608";
}

.icon-exit:before {
  content: "\e62a";
}

.icon-download1:before {
  content: "\e62b";
}

.icon-copy:before {
  content: "\e62c";
}

.icon-brightness:before {
  content: "\e62d";
}

.icon-check:before {
  content: "\e62e";
}

.icon-c-profile:before {
  content: "\e62f";
}

.icon-caret-down:before {
  content: "\e630";
}

.icon-caret-left:before {
  content: "\e631";
}
.icon-arrow_caret_up:before {
  content: "\e60c";
}

.icon-arrow_caret_down:before {
  content: "\e60b";
}
.icon-backend30:before {
  content: "\e60d";
}

.icon-arrow_line_up:before {
  content: "\e632";
}

.icon-arrow_line_dwon:before {
  content: "\e633";
}

.icon-arrow_line_left:before {
  content: "\e634";
}

.icon-arrow_line_right:before {
  content: "\e635";
}

.icon-star:before {
  content: "\e618";
}

.icon-support:before {
  content: "\e619";
}

.icon-safe:before {
  content: "\e61a";
}

.icon-safe2:before {
  content: "\e61b";
}

.icon-search:before {
  content: "\e61c";
}

.icon-plus:before {
  content: "\e61d";
}

.icon-more-star:before {
  content: "\e612";
}

.icon-message:before {
  content: "\e61e";
}

.icon-more:before {
  content: "\e61f";
}

.icon-home:before {
  content: "\e620";
}

.icon-kefu:before {
  content: "\e621";
}

.icon-mac1:before {
  content: "\e622";
}

.icon-merge:before {
  content: "\e623";
}

.icon-caret-right:before {
  content: "\e60e";
}

.icon-external-subtitles:before {
  content: "\e626";
}

.icon-eye_close:before {
  content: "\e627";
}

.icon-eye:before {
  content: "\e628";
}

.icon-dashboard_n:before {
  content: "\e610";
}

.icon-expand_up:before {
  content: "\e629";
}

.icon-expand_down:before {
  content: "\e611";
}

.icon-time48:before {
  content: "\e615";
}

.icon-notice:before {
  content: "\e613";
}

.icon-crop:before {
  content: "\e60f";
}

.icon-trim:before {
  content: "\e616";
}

.icon-win1:before {
  content: "\e617";
}

.icon-shop-cart1:before {
  content: "\e614";
}
